<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Julgados</h5>
                            <span class="label label-info" style="margin-top: 4px">2017</span>
                        </a>
                    </div>
                </div> 
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_julgados.first["qtd_julgado_conhecimento"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div>   
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Pendentes</h5>
                            <span class="label label-info" style="margin-top: 4px">2017</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_pendentes.first["qtd_pendente_baixa_conh"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Baixados</h5>
                            <span class="label label-info" style="margin-top: 5px">2017</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_baixados.first["qtd_baixado_conhecimento"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Novos</h5>
                            <span class="label label-info" style="margin-top: 5px">2017</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_novos.first["novos"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h4>Gráfico - Taxa de Congestionamento</h4>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div id="container"> </div>
                    </div>
                </div> 
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Competência</h5>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="checkbox" style="margin-left: -5px;margin-top:-5px;margin-bottom: -10px">
                            <%= form_for :taxa, :url => { :action => "taxa" }, :method => "POST" do |f| %>
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "familia") ? true : false, :id => "familia", :style => "margin-left: 1px; margin-top: 10px"}, "familia", nil %>
                            <%= f.label "Família", :for => "familia", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "civel") ? true : false, :id => "civel", :style => "margin-left: 1px; margin-top: 10px"}, "civel", nil %>
                            <%= f.label "Cível", :for => "civel",  :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "criminal") ? true : false, :id => "criminal", :style => "margin-left: 1px; margin-top: 10px"}, "criminal", nil %>
                            <%= f.label "Criminal", :for => "criminal", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "fazenda_publica") ? true : false, :id => "fazenda_publica", :style => "margin-left: 1px;margin-top: 10px"}, "fazenda_publica", nil %>
                            <%= f.label "Fazenda Pública", :for => "fazenda_publica", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "juri") ? true : false, :id => "juri", :style => "margin-left: 1px; margin-top: 10px"}, "juri", nil %>
                            <%= f.label "Júri", :for => "juri", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "infancia") ? true : false, :id => "infancia", :style => "margin-left: 1px; margin-top: 10px"}, "infancia", nil %>
                            <%= f.label "Infância", :for => "infancia", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "sucessoes") ? true : false, :id => "sucessoes", :style => "margin-left: 1px; margin-top: 10px"}, "sucessoes", nil %>
                            <%= f.label "Sucessões", :for => "sucessoes", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "exec_penais") ? true : false, :id => "exec_penais", :style => "margin-left: 1px; margin-top: 10px"}, "exec_penais", nil %>
                            <%= f.label "Execuções Penais", :for => "exec_penais", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "exec_fiscais") ? true : false, :id => "exec_fiscais", :style => "margin-left: 1px; margin-top: 10px"}, "exec_fiscais", nil %>
                            <%= f.label "Execuções Fiscais", :for => "exec_fiscais", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "falencia") ? true : false, :id => "falencia", :style => "margin-left: 1px; margin-top: 10px"}, "falencia", nil %>
                            <%= f.label "Falência", :for => "falencia", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "registros_publicos") ? true : false, :id => "registros_publicos", :style => "margin-left: 1px; margin-top: 10px"}, "registros_publicos", nil %>
                            <%= f.label "Registros Públicos", :for => "registros_publicos", :style =>"margin-left:5px;margin-top:8px" %><br/ >
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "toxico") ? true : false, :id => "toxico", :style => "margin-left: 1px; margin-top: 10px"}, "toxico", nil %>
                            <%= f.label "Tóxico", :for => "toxico", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "auditoria_militar") ? true : false, :id => "auditoria_militar", :style => "margin-left: 1px; margin-top: 10px"}, "auditoria_militar", nil %>
                            <%= f.label "Auditoria Militar", :for => "auditoria_militar", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "penas_alternativas") ? true : false, :id => "penas_alternativas", :style => "margin-left: 1px; margin-top: 10px"}, "penas_alternativas", nil %>
                            <%= f.label "Penas Alternativas", :for => "penas_alternativas", :style =>"margin-left:5px;margin-top:8px" %><br /> 
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "transito") ? true : false, :id => "transito", :style => "margin-left: 1px; margin-top: 10px"}, "transito", nil %>
                            <%= f.label "Trânsito", :for => "transito", :style =>"margin-left:5px;margin-top:8px" %><br /><br />
                            <%= f.submit "Filtrar" %>
                            <% end %>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h4>Gráfico - Taxa de Congestionamento por Competência</h4>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content" style="overflow:auto;">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div id="container2"> </div>
                        <div class="radio" style="margin-left: 0px;margin-top:-5px;margin-bottom: -10px">
                            <%= form_for :taxa, :url => { :action => "taxa" }, :method => "POST" do |f| %>
                            <%= f.label "Meta (2017)", :for => "meta_2017", :style =>"margin-left:5px;margin-top:8px" %>
                            <%= f.radio_button :meta, "2017", { :id => "meta_2017", :style => "margin-left: 1px; margin-top: 10px", :onclick => "metaSelecao()", :checked => true} %> &nbsp;&nbsp;&nbsp;
                            <%= f.label "Meta (2016)", :for => "meta_2016", :style =>"margin-left:5px;margin-top:8px" %>
                            <%= f.radio_button :meta, "2016", { :id => "meta_2016", :style => "margin-left: 1px; margin-top: 10px", :onclick => "metaSelecao()"} %> &nbsp;&nbsp;&nbsp;
                            <%= f.label "Meta (2015)", :for => "meta_2015", :style =>"margin-left:5px;margin-top:8px" %>
                            <%= f.radio_button :meta, "2015", { :id => "meta_2015", :style => "margin-left: 1px; margin-top: 10px", :onclick => "metaSelecao()"} %>
                            <% end %>
                        </div>
                        <!--<input id="width" type="range" value="890" min="890" max="2000" style="max-width: 100px; display: inline-block; margin-bottom: -6px"/>-->
                    </div>
                </div> 
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
<!--                   <i id="question" class="fa fa-question" aria-hidden="true" style="font-size: 14px;vertical-align: middle; margin-right: 5px; margin-top: 1px; opacity: 0.3;float: right;" onmouseover="this.style.opacity='0.8'" onmouseout="this.style.opacity='0.3'" data-toggle="popover" placement="bottom" data-content="A taxa de congestionamento mede a efetividade do tribunal em um período,  levando-se em conta o total de casos novos que ingressaram, os casos  baixados e o estoque pendente ao final do período anterior ao período base."></i> -->
                  <h4 class="modal-title"  style="font-weight: 700;color: #F2594B;text-align: center;"><div id="modal_titulo_processos_julgados"></div></h4>

                </div>
                <div class="modal-body" style="font-size: 13px;padding: 10px 20px 0px 20px;">
                    <div id="corpo">
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>

</div>

<script type="text/javascript">
   Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Taxa de Congestionamento'
    },
    subtitle: {
        text: 'Taxa de Congestionamento dos últimos três anos da Comarca de Fortaleza'
    },
    xAxis: {
        categories: [
        'Janeiro',
        'Fevereiro',
        'Março',
        'Abril',
        'Maio',
        'Junho',
        'Julho',
        'Agosto',
        'Setembro',
        'Outubro',
        'Novembro',
        'Dezembro'
        ],
        crosshair: true
    },
    yAxis: {
        min: 90,
        max: 100,
        title: {
            text: 'Taxa (%)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.4f} %</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },

    credits: {
      enabled: false
  },

  series: [{
    name: '2015',
    data: <%= @taxa_congestionamento_2015 %>,
    color: '#8CD19E'

}, {
    name: '2016',
    data: <%= @taxa_congestionamento_2016 %>,
    color: '#8dd7e0'
}, {
    name: '2017',
    data: <%= @taxa_congestionamento_2017 %>,
    color: '#db6a29'

}],
    responsive: {
        rules: [{
            condition: {
                maxWidth: 800
            },
        }]
    }
});


$('#width').on('input', function () {
    chart.setSize(this.value, false, false);
});

        chart = Highcharts.chart('container2', {
        chart: {
            type: 'column',
            zoomType: 'xy',
            height: 400
        },
        title: {
            text: 'Taxa de Congestionamento Por Competência'
        },
        subtitle: {
            text: 'Relatório da Taxa de Congestionamento por Competência nos últimos três anos'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            crosshair: true,
            title: {
                text: 'Taxa (%)'
            },
            plotLines: [{
                color: 'red',
                dashStyle: 'solid',
                value: <%= @metas_taxa[:meta_2017] %>,
                width: 2,
                zIndex: 5,
                label: {
                    text: 'Meta: <%= @metas_taxa[:meta_2017] %>%',
                    rotation: -90,
                    y: 25,
                    x: -3,
                    style: {
                        color: 'blue',
                        fontWeight: 'bold'
                    }
                }
            }],
            max: 100

        },
        legend: {
            enabled: true
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: false,
                    format: '{point.y:.0f}'
                },
                point: {
                    events: {
                        click: function () {
                            var data_ajax;
                            var options = this;
                            if(options.series.name == "2017"){
                                var data = { column_key : options.options.key, ano : options.series.name};
                                $.ajax({
                                    url : "/diretoria/metaProcessosPorDia",
                                    beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                                    type : "post",
                                    data : data,
                                    success: function(data, textStatus, jqXHR) {
                                        $('.modal-backdrop').remove();
                                        loadAjaxData(data.array, options.options.key, options.series.name, data.qtd_dias_uteis);
                                    },
                                });
                            }
                        }
                    }
                }
            }
        },

        credits: {
          enabled: false
      },

      tooltip: {
        headerFormat: '<span style="font-size:10px"><b>{point.key}</b></span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}:&nbsp; </td>' +
            '<td style="padding:0"><b>{point.y:.4f} %</b></td></tr>',
        useHTML: true
    },
    series: <%= @competencias.to_json.html_safe %>,
    drilldown: {
        series: <%= @varas.to_json.html_safe %>
    }
});

$( document ).ajaxStart(function() {
  $('<div class="modal-backdrop fade in"></div>').appendTo(document.body);
});

    function metaSelecao(){
        if(document.getElementById("meta_2017").checked){
            chart.update({
                yAxis: {
                    plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metas_taxa[:meta_2017] %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metas_taxa[:meta_2017] %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
                }
            });
        }
                if(document.getElementById("meta_2016").checked){
            chart.update({
                yAxis: {
                    plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metas_taxa[:meta_2016] %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metas_taxa[:meta_2016] %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
                }
            });
        }
                if(document.getElementById("meta_2015").checked){
            chart.update({
                yAxis: {
                    plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metas_taxa[:meta_2015] %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metas_taxa[:meta_2015] %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
                }
            });
        }

    }
function loadAjaxData(data_ajax,vara,ano, dias_uteis){
    $("#corpo").empty();
    var html = "";

    data_ajax.forEach(function(value){
        if(value.orju_dsc_unidade == vara){
            html = '<table class="table datatable table-bordered table-hover " width="100%">';
            html += '<tbody>';
            html += '<tr>';
            html += '<td class="col-md-4"> <b><div style="z-index: 9999;" id="popover_taxa" data-toggle="popover" data-content="Taxa de Congestionamento atual " >Taxa ('+ ano +'):</div> </b></td>';
            html += '<td class="col-md-8">'+ parseFloat(value.taxa).toFixed(2) +'%</td>';
            html += '</tr>';
            html += '<tr>';
            html += '<td>'+ '<b><div style="z-index: 9999;" id="popover_pendentes" data-toggle="popover" data-content="Processos Pendentes atuais ">Processos Pendentes: </div></b>' +'</td>';
            html += '<td style="vertical-align: middle !important;">'+formatar(value.pendente)+' Processos </td>';
            html += '</tr>';
            html += '<tr>';
            html += '<td> '+ '<b><div style="z-index: 9999;" id="popover_meta" data-toggle="popover" data-content="Meta definida pelo CNJ conforme portaria tal">Meta ('+ano+'): </div></b>' +'</td>';
            html += '<td>'+ '<%= @metas_taxa[:meta_2017] %>%' +'</td>';
            html += '</tr>';
            var meta = value.pendente - (value.total * (parseFloat("<%= @metas_taxa[:meta_2017] %>%") / 100));
            html += '<tr>';
            html += '<td>'+ '<b><div style="z-index: 9999;" id="popover_meta_ano" data-toggle="popover" data-content="Quantidade de processos necessários à serem baixados até o final do ano para atingir a meta"> Processos para atingir a meta ('+ ano +'): </div> </b>' +'</td>';
            html += '<td style="vertical-align: middle !important;">'+ formatar(meta.toFixed(0)) +' Processos</td>';
            html += '</tr>';
            var qtd_dias_uteis = meta / dias_uteis
            if(meta >= dias_uteis){
                html += '<tr>';
                html += '<td>'+ '<b><div style="z-index: 9999;" id="popover_meta_dia" data-toggle="popover" data-content="Quantidade de processos necessários à serem baixados por dia para atingir a meta"> Processos para atingir a meta ('+ ano +'): </div> </b>' +'</td>';
                html += '<td style="vertical-align: middle !important;">'+ formatar(qtd_dias_uteis.toFixed(0)) +' Processos por dia</td>';
                html += '</tr>';
            }
                // html += '<p style="font-size: 16px;"><b>Taxa ('+ ano +'): </b>'+ parseFloat(value.taxa).toFixed(2) +'%</p>';
                // html += '<p style="font-size: 16px;"> <b>Processos Pendentes: </b>'+ value.pendente +' Processos</p>';
                // html += '<p style="font-size: 16px;">'+ '<b>Meta:</b> <%= @metas_taxa[:meta_2017] %>%' +'</p>';
                // var meta = value.pendente - (value.total * (parseFloat("<%= @metas_taxa[:meta_2017] %>%") / 100));
                // html += '<p style="font-size: 16px;"><b>Processos Para atingir a meta ('+ ano +'): </b>'+ meta.toFixed(0) +' Processos</p>';
                // if(meta >= dias_uteis){
                //     var qtd_dias_uteis = meta / dias_uteis
                //     html += '<p style="font-size: 16px;"><b>Processos Para atingir a meta ('+ ano +'): </b>'+ qtd_dias_uteis.toFixed(0) +' Processos por dia</p>';
                // }
        }
    });

    $("#corpo").append(html);
    $('#modal_titulo_processos_julgados').empty();
    $('#modal_titulo_processos_julgados').append('TAXA DE CONGESTIONAMENTO<br/> ' + vara);
    $("#myModal").modal("show");
};

function formatar(nr) {
  return String(nr)
    .split('').reverse().join('').split(/(\d{3})/).filter(Boolean)
    .join('.').split('').reverse().join('');
}

  $(document).on('mouseover', '#popover_taxa', function(){
    $("#popover_taxa").popover('show');
});
  $(document).on('mouseout', '#popover_taxa', function(){
    $('.popover').remove();
});
  $(document).on('mouseover', '#popover_pendentes', function(){
    $("#popover_pendentes").popover('show');
});
  $(document).on('mouseout', '#popover_pendentes', function(){
    $('.popover').remove();
});
$(document).on('mouseover', '#popover_meta', function(){
    $("#popover_meta").popover('show');
});
  $(document).on('mouseout', '#popover_meta', function(){
    $('.popover').remove();
}); 
$(document).on('mouseover', '#popover_meta_ano', function(){
    $("#popover_meta_ano").popover('show');
});
  $(document).on('mouseout', '#popover_meta_ano', function(){
    $('.popover').remove();
}); 
$(document).on('mouseover', '#popover_meta_dia', function(){
    $("#popover_meta_dia").popover('show');
});
  $(document).on('mouseout', '#popover_meta_dia', function(){
    $('.popover').remove();
});

 $(document).on('mouseover', '#question', function(){
     $("#question").popover('show');
 });
  $(document).on('mouseout', '#question', function(){
    $('.popover').remove();
});     
  


</script>