<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Julgados</h5>
                            <span class="label label-info" style="margin-top: 4px">2017</span>
                        </a>
                    </div>
                </div> 
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_julgados.first["qtd_julgado_conhecimento"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div>   
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Pendentes</h5>
                            <span class="label label-info" style="margin-top: 4px">2017</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_pendentes.first["qtd_pendente_baixa_conh"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Baixados</h5>
                            <span class="label label-info" style="margin-top: 5px">2017</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_baixados.first["qtd_baixado_conhecimento"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Novos</h5>
                            <span class="label label-info" style="margin-top: 5px">2017</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_novos.first["novos"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Filtros</h5>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="" style="margin-left: 0px;margin-top:-5px;margin-bottom: -10px">
                              <select class="form-control" id="combo_competencia">
                                  <option selected="true" disabled="disabled">Competência</option>    
                                  <option value="1">Família</option>
                                  <option value="2">Cível</option>
                                  <option value="3">Criminal</option>
                                  <option value="4">Fazenda Pública</option>
                                  <option value="5">Júri</option>
                                  <option value="6">Infância e Juventude</option>
                                  <option value="7">Sucessões</option>
                                  <option value="8">Execuções Penais</option>
                                  <option value="9">Execuções Fiscais</option>
                                  <option value="10">Falência</option>
                                  <option value="11">Registros Públicos</option>
                                  <option value="12">Tóxico</option>
                                  <option value="13">Auditoria Militar</option>
                                  <option value="14">Penas Alternativas</option>
                                  <option value="15">Trânsito</option>
                                </select>
                                <br />
                                <select class="form-control" id="combo_vara">
                                  <option selected="true" disabled="disabled">Selecione o item acima</option>
                                </select>
                              <br /><br />
                              <button id="button_taxa" class="btn btn-sm btn-primary pull-right m-t-n-xs" disabled="true" onclick="mostrarGrafico(document.getElementById('combo_vara').options[document.getElementById('combo_vara').selectedIndex].label)">Filtrar</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h4>Gráfico - Taxa de Congestionamento por Competência</h4>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content" style="overflow:auto;">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div id="vazio" class="graficoTaxa">
                         <div style="text-align: center;font-size: 16px">
                         <i class="fa fa-hand-o-left" aria-hidden="true" style="font-size: 20px"></i>  Selecione uma competência e uma vara ao lado.</div>
                        </div>
                        <div id="radios_meta">
                        </div>
                    </div>
                </div> 
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"  style="font-weight: 700;color: #F2594B;text-align: center;"><div id="modal_titulo_processos_julgados"></div></h4>

                </div>
                <div class="modal-body" style="font-size: 13px;padding: 10px 20px 0px 20px;">
                    <div id="corpo">
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"  style="font-weight: 700;color: #F2594B;text-align: center;"><div id="modal_titulo_processos_pendentes"></div></h4>
                </div>
                <div class="modal-body" style="font-size: 13px;padding: 10px 20px 0px 20px;">
                    <div id="corpo2">
                    <table class="table"></table>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>

<script type="text/javascript">

$( document ).ajaxStart(function() {
  $('<div class="modal-backdrop fade in"></div>').appendTo(document.body);
});

    function metaSelecao(){
        if(document.getElementById("meta_2017").checked){
            chart2.update({
                yAxis: {
                    plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metas_taxa[:meta_2017] %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metas_taxa[:meta_2017] %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
                }
            });
        }
                if(document.getElementById("meta_2016").checked){
            chart2.update({
                yAxis: {
                    plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metas_taxa[:meta_2016] %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metas_taxa[:meta_2016] %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
                }
            });
        }
                if(document.getElementById("meta_2015").checked){
            chart2.update({
                yAxis: {
                    plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metas_taxa[:meta_2015] %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metas_taxa[:meta_2015] %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
                }
            });
        }
    }

function loadAjaxData(data_ajax,vara,ano, dias_uteis){
    if(ano=="2017"){
    $("#corpo").empty();
    var html = "";

            html = '<table class="table datatable table-bordered table-hover " width="100%">';
            html += '<tbody>';
            html += '<tr>';
            html += '<td class="col-md-4"> <b><div style="z-index: 9999;" id="popover_taxa" data-toggle="popover" data-content="Taxa de Congestionamento atual " >Taxa ('+ ano +'):</div> </b></td>';
            html += '<td class="col-md-8">'+ parseFloat(data_ajax[data_ajax.length-1].taxa*100).toFixed(2) +'%</td>';
            html += '</tr>';
            html += '<tr>';
            html += '<td>'+ '<b><div style="z-index: 9999;" id="popover_pendentes" data-toggle="popover" data-content="Processos Pendentes atuais ">Processos Pendentes: </div></b>' +'</td>';
            html += '<td style="vertical-align: middle !important;"><a href="#" onclick="mostrarProcessosPendentes()">'+formatar(data_ajax[data_ajax.length-1].pendentes)+' Processos</a> </td>';
            html += '</tr>';
            html += '<tr>';
            html += '<td> '+ '<b><div style="z-index: 9999;" id="popover_meta" data-toggle="popover" data-content="Meta definida pelo CNJ conforme portaria tal">Meta ('+ano+'): </div></b>' +'</td>';
            html += '<td>'+ '<%= @metas_taxa[:meta_2017] %>%' +'</td>';
            html += '</tr>';
            var meta = data_ajax[data_ajax.length-1].pendentes - (data_ajax[data_ajax.length-1].pendentes * 0.54 / data_ajax[data_ajax.length-1].taxa);
            if(meta > 0){
                // data_ajax[data_ajax.length-1].pendentes - (data_ajax[data_ajax.length-1].total * (parseFloat("<%= @metas_taxa[:meta_2017] %>%") / 100));
                html += '<tr>';
                html += '<td>'+ '<b><div style="z-index: 9999;" id="popover_meta_ano" data-toggle="popover" data-content="Quantidade de processos necessários à serem baixados até o final do ano para atingir a meta"> Processos para atingir a meta ('+ ano +'): </div> </b>' +'</td>';
                html += '<td style="vertical-align: middle !important;">'+ formatar(meta.toFixed(0)) +' Processos</td>';
                html += '</tr>';
                var qtd_dias_uteis = meta / dias_uteis
                if(meta >= dias_uteis){
                    html += '<tr>';
                    html += '<td>'+ '<b><div style="z-index: 9999;" id="popover_meta_dia" data-toggle="popover" data-content="Quantidade de processos necessários à serem baixados por dia para atingir a meta"> Processos para atingir a meta ('+ ano +'): </div> </b>' +'</td>';
                    html += '<td style="vertical-align: middle !important;">'+ formatar(qtd_dias_uteis.toFixed(0)) +' Processos por dia</td>';
                    html += '</tr>';
                }
            } else {
                html += '<tr>';
                html += '<td>'+ '<b><div style="z-index: 9999;" id="popover_meta_ano" data-toggle="popover" data-content="Quantidade de processos necessários à serem baixados até o final do ano para atingir a meta"> Processos para atingir a meta ('+ ano +'): </div> </b>' +'</td>';
                html += '<td style="vertical-align: middle !important;">'+'Meta Atingida.'+'</td>';
                html += '</tr>';
            }

    $("#corpo").append(html);
    $('#modal_titulo_processos_julgados').empty();
    $('#modal_titulo_processos_julgados').append('TAXA DE CONGESTIONAMENTO<br/> ' + vara);
    $("#myModal").modal("show");
    }
};

function formatar(nr) {
  return String(nr)
    .split('').reverse().join('').split(/(\d{3})/).filter(Boolean)
    .join('.').split('').reverse().join('');
}

  $(document).on('mouseover', '#popover_taxa', function(){
    $("#popover_taxa").popover('show');
});
  $(document).on('mouseout', '#popover_taxa', function(){
    $('.popover').remove();
});
  $(document).on('mouseover', '#popover_pendentes', function(){
    $("#popover_pendentes").popover('show');
});
  $(document).on('mouseout', '#popover_pendentes', function(){
    $('.popover').remove();
});
$(document).on('mouseover', '#popover_meta', function(){
    $("#popover_meta").popover('show');
});
  $(document).on('mouseout', '#popover_meta', function(){
    $('.popover').remove();
}); 
$(document).on('mouseover', '#popover_meta_ano', function(){
    $("#popover_meta_ano").popover('show');
});
  $(document).on('mouseout', '#popover_meta_ano', function(){
    $('.popover').remove();
}); 
$(document).on('mouseover', '#popover_meta_dia', function(){
    $("#popover_meta_dia").popover('show');
});
  $(document).on('mouseout', '#popover_meta_dia', function(){
    $('.popover').remove();
});

 $(document).on('mouseover', '#question', function(){
     $("#question").popover('show');
 });
  $(document).on('mouseout', '#question', function(){
    $('.popover').remove();
});     
  
var combo_competencia = document.getElementById('combo_competencia'),
    combo_vara = document.getElementById('combo_vara'); 

combo_competencia.onchange = function (e) {
  var val = e.target.value;
  document.getElementById('button_taxa').disabled = false;
  combo_vara.innerHTML = '';
  if(val == "0"){
    addOption("0","Selecione um item acima", combo_vara);
  }
  if(val == "1"){
    addOption("648","1ª Vara de Família", combo_vara);
    addOption("649","2ª Vara de Família", combo_vara);
    addOption("650","3ª Vara de Família", combo_vara);
    addOption("651","4ª Vara de Família", combo_vara);
    addOption("652","5ª Vara de Família", combo_vara);
    addOption("653","6ª Vara de Família", combo_vara);
    addOption("654","7ª Vara de Família", combo_vara);
    addOption("655","8ª Vara de Família", combo_vara);
    addOption("656","9ª Vara de Família", combo_vara);
    addOption("657","10ª Vara de Família", combo_vara);
    addOption("658","11ª Vara de Família", combo_vara);
    addOption("659","12ª Vara de Família", combo_vara);
    addOption("660","13ª Vara de Família", combo_vara);
    addOption("661","14ª Vara de Família", combo_vara);
    addOption("662","15ª Vara de Família", combo_vara);
    addOption("663","16ª Vara de Família", combo_vara);
    addOption("776","17ª Vara de Família", combo_vara);
    addOption("777","18ª Vara de Família", combo_vara);
  }
  if(val == "2"){
    addOption("615","1ª Vara Cível", combo_vara);
    addOption("616","2ª Vara Cível", combo_vara);
    addOption("617","3ª Vara Cível", combo_vara);
    addOption("618","4ª Vara Cível", combo_vara);
    addOption("619","5ª Vara Cível", combo_vara);
    addOption("620","6ª Vara Cível", combo_vara);
    addOption("621","7ª Vara Cível", combo_vara);
    addOption("622","8ª Vara Cível", combo_vara);
    addOption("623","9ª Vara Cível", combo_vara);
    addOption("625","10ª Vara Cível", combo_vara);
    addOption("626","11ª Vara Cível", combo_vara);
    addOption("627","12ª Vara Cível", combo_vara);
    addOption("628","13ª Vara Cível", combo_vara);
    addOption("629","14ª Vara Cível", combo_vara);
    addOption("630","15ª Vara Cível", combo_vara);
    addOption("631","16ª Vara Cível", combo_vara);
    addOption("632","17ª Vara Cível", combo_vara);
    addOption("633","18ª Vara Cível", combo_vara);
    addOption("634","19ª Vara Cível", combo_vara);
    addOption("635","20ª Vara Cível", combo_vara);
    addOption("636","21ª Vara Cível", combo_vara);
    addOption("637","22ª Vara Cível", combo_vara);
    addOption("638","23ª Vara Cível", combo_vara);
    addOption("639","24ª Vara Cível", combo_vara);
    addOption("640","25ª Vara Cível", combo_vara);
    addOption("641","26ª Vara Cível", combo_vara);
    addOption("642","27ª Vara Cível", combo_vara);
    addOption("643","28ª Vara Cível", combo_vara);
    addOption("644","29ª Vara Cível", combo_vara);
    addOption("645","30ª Vara Cível", combo_vara);
    addOption("8609","31ª Vara Cível", combo_vara);
    addOption("8610","32ª Vara Cível", combo_vara);
    addOption("8592","33ª Vara Cível", combo_vara);
    addOption("8594","34ª Vara Cível", combo_vara);
    addOption("8596","35ª Vara Cível", combo_vara);
    addOption("8598","36ª Vara Cível", combo_vara);
    addOption("8600","37ª Vara Cível", combo_vara);
    addOption("8602","38ª Vara Cível", combo_vara);
    addOption("8604","39ª Vara Cível", combo_vara);
  }
  if(val == "3"){
    addOption("574","1ª Vara Criminal", combo_vara);
    addOption("575","2ª Vara Criminal", combo_vara);
    addOption("576","3ª Vara Criminal", combo_vara);
    addOption("577","4ª Vara Criminal", combo_vara);
    addOption("578","5ª Vara Criminal", combo_vara);
    addOption("579","6ª Vara Criminal", combo_vara);
    addOption("580","7ª Vara Criminal", combo_vara);
    addOption("581","8ª Vara Criminal", combo_vara);
    addOption("582","9ª Vara Criminal", combo_vara);
    addOption("492","10ª Vara Criminal", combo_vara);
    addOption("583","11ª Vara Criminal", combo_vara);
    addOption("584","12ª Vara Criminal", combo_vara);
    addOption("585","13ª Vara Criminal", combo_vara);
    addOption("586","14ª Vara Criminal", combo_vara);
    addOption("587","15ª Vara Criminal", combo_vara);
    addOption("2571","16ª Vara Criminal", combo_vara);
    addOption("2572","17ª Vara Criminal", combo_vara);
    addOption("2573","18ª Vara Criminal", combo_vara);
  }
  if(val == "4"){
    addOption("605","1ª Vara da Fazenda Pública", combo_vara);
    addOption("604","2ª Vara da Fazenda Pública", combo_vara);
    addOption("606","3ª Vara da Fazenda Pública", combo_vara);
    addOption("607","4ª Vara da Fazenda Pública", combo_vara);
    addOption("2568","5ª Vara da Fazenda Pública", combo_vara);
    addOption("2569","6ª Vara da Fazenda Pública", combo_vara);
    addOption("2570","7ª Vara da Fazenda Pública", combo_vara);
    addOption("8351","8ª Vara da Fazenda Pública", combo_vara);
    addOption("8352","9ª Vara da Fazenda Pública", combo_vara);
    addOption("8579","10ª Vara da Fazenda Pública", combo_vara);
    addOption("8590","11ª Vara da Fazenda Pública", combo_vara);
    addOption("8580","12ª Vara da Fazenda Pública", combo_vara);
    addOption("8581","13ª Vara da Fazenda Pública", combo_vara);
    addOption("8582","14ª Vara da Fazenda Pública", combo_vara);
    addOption("8583","15ª Vara da Fazenda Pública", combo_vara);
  }
  if(val == "5"){
    addOption("588","1ª Vara do Júri", combo_vara);
    addOption("589","2ª Vara do Júri", combo_vara);
    addOption("590","3ª Vara do Júri", combo_vara);
    addOption("591","4ª Vara do Júri", combo_vara);
    addOption("592","5ª Vara do Júri", combo_vara);
  }
  if(val == "6"){
    addOption("570","1ª Vara da Infância e Juventude", combo_vara);
    addOption("571","2ª Vara da Infância e Juventude", combo_vara);
    addOption("572","3ª Vara da Infância e Juventude", combo_vara);
    addOption("573","4ª Vara da Infância e Juventude", combo_vara);
    addOption("774","5ª Vara da Infância e Juventude", combo_vara);
  }
  if(val == "7"){
    addOption("664","1ª Vara de Sucessões", combo_vara);
    addOption("665","2ª Vara de Sucessões", combo_vara);
    addOption("666","3ª Vara de Sucessões", combo_vara);
    addOption("667","4ª Vara de Sucessões", combo_vara);
    addOption("668","5ª Vara de Sucessões", combo_vara);
  }
  if(val == "8"){
    addOption("8540","1ª Vara de Execução Penal", combo_vara);
    addOption("8541","2ª Vara de Execução Penal", combo_vara);
    addOption("8542","3ª Vara de Execução Penal", combo_vara);
  }
  if(val == "9"){
    addOption("608","1ª Vara de Execuções Fiscais", combo_vara);
    addOption("609","2ª Vara de Execuções Fiscais", combo_vara);
    addOption("610","3ª Vara de Execuções Fiscais", combo_vara);
    addOption("611","4ª Vara de Execuções Fiscais", combo_vara);
    addOption("612","5ª Vara de Execuções Fiscais", combo_vara);
    addOption("8361","6ª Vara de Execuções Fiscais", combo_vara);
  }
  if(val == "10"){
    addOption("8353","1ª Vara de Falência", combo_vara);
    addOption("8354","2ª Vara de Falência", combo_vara);
  }
  if(val == "11"){
    addOption("613","1ª Vara de Registros Públicos", combo_vara);
    addOption("614","2ª Vara de Registros Públicos", combo_vara);
  }
  if(val == "12"){
    addOption("598","1ª Vara de Tóxico", combo_vara);
    addOption("599","2ª Vara de Tóxico", combo_vara);
    addOption("8545","3ª Vara de Tóxico", combo_vara);
  }
  if(val == "13"){
    addOption("603","Vara Única de Auditoria Militar", combo_vara);
  }
  if(val == "14"){
    addOption("6535","Vara Única de Penas Alternativas", combo_vara);
  }
  if(val == "15"){
    addOption("8360","Vara Única de Trânsito", combo_vara);
  }
};

function addOption(val, label, select) {
  var option = document.createElement('option');
  option.value = val;
  option.label = label;
  option.innerHTML = val;
  select.appendChild(option);
}

function mostrarGrafico(value){
    document.getElementById('vazio').id = "container";
    var data = { cod_competencia: document.getElementById('combo_vara').value };    
    $.ajax({
        url : "/diretoria/taxaGrafico",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        type : "post",
        data : data,
        success: function(data, textStatus, jqXHR) {
            $('.modal-backdrop').remove();
                chart2 = Highcharts.chart('container', {
                    chart: {
                        type: 'column',
                        zoomType: 'xy',
                        height: 400
                    },
                    title: {
                        text: 'Taxa de Congestionamento da ' + value
                    },
                    subtitle: {
                        text: 'Relatório da Taxa de Congestionamento da '+ value
                    },
                    xAxis: {
                        categories: [
                        'Jan',
                        'Feb',
                        'Mar',
                        'Apr',
                        'May',
                        'Jun',
                        'Jul',
                        'Aug',
                        'Sep',
                        'Oct',
                        'Nov',
                        'Dec'
                    ],
                    crosshair: true
                    },
                    yAxis: {
                        crosshair: true,
                        title: {
                            text: 'Taxa (%)'
                        },
                        plotLines: [{
                            color: 'red',
                            dashStyle: 'solid',
                            value: <%= @metas_taxa[:meta_2017] %>,
                            width: 2,
                            zIndex: 5,
                            label: {
                                text: 'Meta: <%= @metas_taxa[:meta_2017] %>%',
                                rotation: -90,
                                y: 25,
                                x: -3,
                                style: {
                                    color: 'blue',
                                    fontWeight: 'bold'
                                }
                            }
                        }],
                        max: 100

                    },
                    legend: {
                        enabled: true
                    },
                    plotOptions: {
                        series: {
                            cursor: 'pointer',
                            borderWidth: 0,
                            dataLabels: {
                                enabled: false,
                                format: '{point.y:.0f}'
                            },
                            events: {
                                    click: function () {
                                        //alert(event.point.series.userOptions.name +' clicked\n');
                                        loadAjaxData(data.taxa,value,event.point.series.userOptions.name,data.qtd_dias_uteis);
                                    }
                                }
                        }
                    },

                    credits: {
                      enabled: false
                  },

                  tooltip: {
                    headerFormat: '<span style="font-size:10px"><b>{point.key}</b></span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}:&nbsp; </td>' +
                        '<td style="padding:0"><b>{point.y:.4f} %</b></td></tr>',
                    useHTML: true
                },
                series: data.dados
            });
            var html = '<div class="radio radio-inline radio-success"> <input type="radio" name="radio" id="meta_2017" value="option1" onclick="metaSelecao()"> <label for="meta_2017"> Meta 2017 </label> </div> <div class="radio radio-inline radio-success"> <input type="radio" name="radio" id="meta_2016" value="option1" onclick="metaSelecao()"> <label for="meta_2016"> Meta 2016 </label></div><div class="radio radio-inline radio-success"><input type="radio" name="radio" id="meta_2015" value="option1" onclick="metaSelecao()"> <label for="meta_2015"> Meta 2015 </label> </div>'  
            $("#radios_meta").append(html);
        }
    });
}

function mostrarProcessosPendentes(){
        var data = { column_key : document.getElementById('combo_vara').value , ano : "2017"};
        $.ajax({
            url : "/judicial/pendentes/processos",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            type : "post",
            data : data,
            success: function(data, textStatus, jqXHR) {
                $('.modal-backdrop').remove();
                 loadProcessosAjax(data.array, data.array[0].orju_dsc_unidade, "2017");
            },
        });
}

function loadProcessosAjax(data_ajax,key,name){
                                $("#corpo2").empty();
                            var html = '<table class="table datatable table-striped table-bordered" width="100%" id="table_processos">';
                            html += '<thead>';
                            html += '<tr>';
                            html += '<th>Nº do Processo</th>';
                            html += '<th>Vara</th>';
                            html += '<th>Sit. do Processo</th>';
                            html += '<th>Data do Protocolo</th>';
                            html += '</tr>';
                            html += '</thead>';
                            html += '<tbody>';
                            data_ajax.forEach(function(value){
                                html += '<tr>';
                                html += '<td>'+ value.proc_dsc_processo_formatado+'</td>';
                                html += '<td>'+ value.orju_dsc_unidade +'</td>';
                                html += '<td>'+ value.sipr_dsc_situacao_processo +'</td>';
                                x = new Date(value.proc_dat_protocolo);
                                html += '<td>'+ "<span style='display: none'>"+ x.getFullYear() + (x.getMonth()+1) + x.getDate()   +"</span>"+ x.getDate() + "/" + (x.getMonth() + 1) + "/" + x.getFullYear() +'</td>';
                                html += '</tr>';
                            });
                            html += '</tbody>';
                            html += '</table>';
                            $(document).ready(function() {
                              $("#table_processos").dataTable({
                                dom: "<'row'<'col-sm-12'B>>" + "<'row'<'col-sm-6'l><'col-sm-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                                autoWidth : false,
                                order: [[ 3, "asc" ]],
                                select: true,
                                buttons: [
                                    {
                                        extend: 'copyHtml5', 
                                        title: "PROCESSOS JULGADOS DA " + key + " NO ANO DE " + name
                                    },
                                    {
                                        extend: 'csv', 
                                        title: "PROCESSOS JULGADOS DA " + key + " NO ANO DE " + name,
                                        filename: "JULGADOS - " + key + " - " + name
                                    },
                                    {
                                        extend: 'pdfHtml5', 
                                        title: "PROCESSOS JULGADOS DA " + key + " NO ANO DE " + name,
                                        filename: "JULGADOS - " + key + " - " + name
                                    },
                                    {
                                        extend: 'print',
                                        text: 'Imprimir',
                                        className: "printChartButton",
                                        title: "PROCESSOS JULGADOS DA " + key + " NO ANO DE " + name,
                                        exportOptions: {
                                            modifier: {
                                                search: 'applied'
                                            }
                                        }
                                    }
                                ],
                                    columnDefs : [{"width": "22%", "targets": 0 },
                                                    {"width": "38%", "targets": 1 },
                                                    {"width": "20%", "targets": 2 },
                                                    {"width": "20%", "targets": 3 },
                                    ],
                                    language: {
                                        "sEmptyTable": "Nenhum registro encontrado",
                                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                                        "sInfoPostFix": "",
                                        "sInfoThousands": ".",
                                        "sLengthMenu": "_MENU_ resultados por página",
                                        "sLoadingRecords": "Carregando...",
                                        "sProcessing": "Processando...",
                                        "sZeroRecords": "Nenhum registro encontrado",
                                        "sSearch": "Pesquisar",
                                        "oPaginate": {
                                            "sNext": "Próximo",
                                            "sPrevious": "Anterior",
                                            "sFirst": "Primeiro",
                                            "sLast": "Último"
                                        },
                                        "oAria": {
                                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                                            "sSortDescending": ": Ordenar colunas de forma descendente"
                                        },
                                        "buttons" :{
                                            "copy" : "Copiar"
                                        },
                                        "select": {
                                            rows: {
                                                _: "%d linhas selecionadas",
                                                0: "",
                                                1: "1 linha selecionada"
                                            }
                                        }
                                    }
                              });
                            });
                            $("#corpo2").append(html);
                            $('#modal_titulo_processos_pendentes').empty();
                            $('#modal_titulo_processos_pendentes').append('PROCESSOS PENDENTES DA ' + key + ' NO ANO DE ' + name);
                            $("#myModal2").modal("show");
};

</script>