<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Julgados</h5>
                            <% if Date.today.strftime("%m").to_i == 1 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <% if Date.today.strftime("%m").to_i == 2 && Date.today.strftime("%d").to_i <= 15 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year %></span>
                            <% end %>
                            <% end %>
                        </a>
                    </div>
                </div> 
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_julgados.first["qtd_julgado_conhecimento"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div>   
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Pendentes</h5>
                            <% if Date.today.strftime("%m").to_i == 1 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <% if Date.today.strftime("%m").to_i == 2 && Date.today.strftime("%d").to_i <= 15 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year %></span>
                            <% end %>
                            <% end %>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_pendentes.first["qtd_pendente_baixa_conh"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Baixados</h5>
                            <% if Date.today.strftime("%m").to_i == 1 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <% if Date.today.strftime("%m").to_i == 2 && Date.today.strftime("%d").to_i <= 15 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year %></span>
                            <% end %>
                            <% end %>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_baixados.first["qtd_baixado_conhecimento"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools"  style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Novos</h5>
                            <% if Date.today.strftime("%m").to_i == 1 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <% if Date.today.strftime("%m").to_i == 2 && Date.today.strftime("%d").to_i <= 15 %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year-1 %></span>
                            <% else %>
                            <span class="label label-info" style="margin-top: 4px"><%= Date.current.year %></span>
                            <% end %>
                            <% end %>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_with_delimiter(@total_novos.first["novos"].to_i, delimiter: ".") %></h1>
                    <small>Processos</small>
                </div> 
            </div>       
        </div> 

    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Filtros</h5>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="" style="margin-left: 0px;margin-top:-5px;margin-bottom: -10px">
                          <select class="form-control" id="combo_competencia">
                              <option selected="true" disabled="disabled">Competência</option>    
                              <option value="1">Família</option>
                              <option value="2">Cível</option>
                              <option value="3">Criminal</option>
                              <option value="4">Fazenda Pública</option>
                              <option value="5">Júri</option>
                              <option value="6">Infância e Juventude</option>
                              <option value="7">Sucessões</option>
                              <option value="8">Execuções Penais</option>
                              <option value="9">Execuções Fiscais</option>
                              <option value="10">Falência</option>
                              <option value="11">Registros Públicos</option>
                              <option value="12">Tóxico</option>
                              <option value="13">Auditoria Militar</option>
                              <option value="14">Penas Alternativas</option>
                              <option value="15">Trânsito</option>
                          </select>
                          <br />
                          <select class="form-control" id="combo_vara">
                              <option selected="true" disabled="disabled">Selecione o item acima</option>
                          </select>
                          <br /><br />
                          <button id="button_taxa" class="btn btn-sm btn-primary pull-right m-t-n-xs" disabled="true" onclick="mostrarGraficoTaxa(document.getElementById('combo_vara').options[document.getElementById('combo_vara').selectedIndex].label, <%= @metaatual %>)">Filtrar</button>
                      </div>
                  </div>
              </div> 
          </div>
      </div>
      <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="ibox-tools" style="margin-top: -4px">
                    <a class="collapse-link">
                        <h4>Gráfico - Taxa de Congestionamento por Competência</h4>
                    </a>
                </div>                    
            </div>
            <div class="ibox-content" style="overflow:auto;">
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div id="vazio" class="graficoTaxa">
                     <div style="text-align: center;font-size: 16px">
                         <i class="fa fa-hand-o-left" aria-hidden="true" style="font-size: 20px"></i>  Selecione uma competência e uma vara ao lado.</div>
                     </div>
                     <div id="radios_meta">
                     </div>
                 </div>
             </div> 
         </div>    
     </div>
 </div>
 <div class="row">
    <div class="col-lg-12">
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"  style="font-weight: 700;color: #F2594B;text-align: center;"><div id="modal_titulo_processos_julgados"></div></h4>

          </div>
          <div class="modal-body" style="font-size: 13px;padding: 10px 20px 0px 20px;">
            <div id="corpo">
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-lg-12">
      <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 80%">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"  style="font-weight: 700;color: #F2594B;text-align: center;"><div id="modal_titulo_processos_pendentes"></div></h4>
          </div>
          <div class="modal-body" style="font-size: 13px;padding: 10px 20px 0px 20px;">
            <div id="corpo2">
                <table class="table"></table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

<script type="text/javascript">

$( document ).ajaxStart(function() {
  $('<div class="modal-backdrop fade in"></div>').appendTo(document.body);
});

// Altera as Metas dos Radios do Gráfico de Taxa
function metaSelecao(){
    if(document.getElementById("meta_2017").checked){
        chart2.update({
            yAxis: {
                plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metaatual %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metaatual %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
            }
        });
    }
    if(document.getElementById("meta_2016").checked){
        chart2.update({
            yAxis: {
                plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metapassada %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metapassada %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
            }
        });
    }
    if(document.getElementById("meta_2015").checked){
        chart2.update({
            yAxis: {
                plotLines: [{
                    color: 'red',
                    dashStyle: 'solid',
                    value: <%= @metaretrasada %>,
                    width: 2,
                    zIndex: 5,
                    label: {
                        text: 'Meta: <%= @metaretrasada %>%',
                        rotation: -90,
                        y: 25,
                        x: -3,
                        style: {
                            color: 'blue',
                            fontWeight: 'bold'
                        }
                    }
                }],
            }
        });
    }
};


//Método em app/assets/javascript/taxa.js mostra um Popover da Modal de detalhes da Taxa
mostrarPopoverTaxa();  

//Método em app/assets/javascript/taxa.js adiciona o filtro das varas ao selecionar a competência
addVarasNosFiltros();


</script>