<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h4>Gráfico - Processos Pendentes</h4>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div id="container"> </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h5>Competência</h5>
                        </a>

                    </div>                    
                </div>
                <div class="ibox-content">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div class="checkbox checkbox-success" style="margin-left: -5px;margin-top:-5px;margin-bottom: -10px">
                            <%= form_for :pendentes, :url => { :action => "pendentes" }, :method => "POST" do |f| %>
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "familia") ? true : false, :id => "familia", :style => "margin-left: 1px; margin-top: 10px"}, "familia", nil %>
                            <%= f.label "Família", :for => "familia", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "civel") ? true : false, :id => "civel", :style => "margin-left: 1px; margin-top: 10px"}, "civel", nil %>
                            <%= f.label "Cível", :for => "civel",  :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "criminal") ? true : false, :id => "criminal", :style => "margin-left: 1px; margin-top: 10px"}, "criminal", nil %>
                            <%= f.label "Criminal", :for => "criminal", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "fazenda_publica") ? true : false, :id => "fazenda_publica", :style => "margin-left: 1px;margin-top: 10px"}, "fazenda_publica", nil %>
                            <%= f.label "Fazenda Pública", :for => "fazenda_publica", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "juri") ? true : false, :id => "juri", :style => "margin-left: 1px; margin-top: 10px"}, "juri", nil %>
                            <%= f.label "Júri", :for => "juri", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "infancia") ? true : false, :id => "infancia", :style => "margin-left: 1px; margin-top: 10px"}, "infancia", nil %>
                            <%= f.label "Infância", :for => "infancia", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "sucessoes") ? true : false, :id => "sucessoes", :style => "margin-left: 1px; margin-top: 10px"}, "sucessoes", nil %>
                            <%= f.label "Sucessões", :for => "sucessoes", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "exec_penais") ? true : false, :id => "exec_penais", :style => "margin-left: 1px; margin-top: 10px"}, "exec_penais", nil %>
                            <%= f.label "Execuções Penais", :for => "exec_penais", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "exec_fiscais") ? true : false, :id => "exec_fiscais", :style => "margin-left: 1px; margin-top: 10px"}, "exec_fiscais", nil %>
                            <%= f.label "Execuções Fiscais", :for => "exec_fiscais", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "falencia") ? true : false, :id => "falencia", :style => "margin-left: 1px; margin-top: 10px"}, "falencia", nil %>
                            <%= f.label "Falência", :for => "falencia", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "registros_publicos") ? true : false, :id => "registros_publicos", :style => "margin-left: 1px; margin-top: 10px"}, "registros_publicos", nil %>
                            <%= f.label "Registros Públicos", :for => "registros_publicos", :style =>"margin-left:5px;margin-top:8px" %><br/ >
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "toxico") ? true : false, :id => "toxico", :style => "margin-left: 1px; margin-top: 10px"}, "toxico", nil %>
                            <%= f.label "Tóxico", :for => "toxico", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "auditoria_militar") ? true : false, :id => "auditoria_militar", :style => "margin-left: 1px; margin-top: 10px"}, "auditoria_militar", nil %>
                            <%= f.label "Auditoria Militar", :for => "auditoria_militar", :style =>"margin-left:5px;margin-top:8px" %><br />
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "penas_alternativas") ? true : false, :id => "penas_alternativas", :style => "margin-left: 1px; margin-top: 10px"}, "penas_alternativas", nil %>
                            <%= f.label "Penas Alternativas", :for => "penas_alternativas", :style =>"margin-left:5px;margin-top:8px" %><br /> 
                            <%= f.check_box :competencia, {:multiple => true, :checked => (!@result.nil?) && (@result[:competencia].include? "transito") ? true : false, :id => "transito", :style => "margin-left: 1px; margin-top: 10px"}, "transito", nil %>
                            <%= f.label "Trânsito", :for => "transito", :style =>"margin-left:5px;margin-top:8px" %><br /><br />
                            <%= f.submit "Filtrar", :class => "btn btn-sm btn-primary pull-right m-t-n-xs" %>
                            <% end %>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -4px">
                        <a class="collapse-link">
                            <h4>Gráfico - Processos Pendentes por Competência</h4>
                        </a>
                    </div>                    
                </div>
                <div class="ibox-content" style="overflow:auto;">
                    <div class="row wrapper border-bottom white-bg page-heading">
                        <div id="container2"> </div>
                        <!--<label style="display: inline-block;">zoom: &nbsp;&nbsp;</label>
                        <input id="width" type="range" value="890" min="890" max="2000" style="max-width: 100px; display: inline-block; margin-bottom: -6px"/>-->
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg" style="width: 80%">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"  style="font-weight: 700;color: #F2594B;text-align: center;"><div id="modal_titulo_processos_pendentes"></div></h4>
                </div>
                <div class="modal-body" style="font-size: 13px;padding: 10px 20px 0px 20px;">
                    <div id="corpo">
                    <table class="table"></table>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>

<script type="text/javascript">
 Highcharts.chart('container', {
    chart: {
        type: 'line'
    },
    title: {
        text: 'Processos Pendentes'
    },
    subtitle: {
        text: 'Relatório de Processos Pendentes nos últimos 3 anos'
    },
    xAxis: {
        categories: [
        'Janeiro',
        'Fevereiro',
        'Março',
        'Abril',
        'Maio',
        'Junho',
        'Julho',
        'Agosto',
        'Setembro',
        'Outubro',
        'Novembro',
        'Dezembro'
        ],
        crosshair: true
    },
    yAxis: {
        min: 300000,
        max: 350000,
        title: {
            text: 'Pendentes (n)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:12px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
        '<td style="padding:0"><b>{point.y:.0f} processos</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },

    credits: {
      enabled: false
  },

  series: [ {
    name: '2015',
    data: <%= @processos_pendentes["2015"] %>,
    color: '#8CD19E'

}, {
    name: '2016',
    data: <%= @processos_pendentes["2016"] %>,
    color: '#8dd7e0'
}, {
    name: '2017',
    data: <%= @processos_pendentes["2017"] %>,
    color: '#db6a29'

}]
});

$('#width').on('input', function () {
    chart.setSize(this.value, false, false);
});

    chart = Highcharts.chart('container2', {
        chart: {
            type: 'column',
            zoomType: 'xy'
        },
        title: {
            text: 'Processos Pendentes Por Competência'
        },
        subtitle: {
            text: 'Relatório de Processos Pendentes Por Competência'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Pendentes (n)'
            }

        },
        legend: {
            enabled: true
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: false,
                    format: '{point.y:.0f}'
                },
                point: {
                    events: {
                        click: function () {
                            var data_ajax;
                            //console.log(this.options)
                            var options = this;
                            console.log(options);
                            var data = { column_key : options.options.key , ano : options.series.name};
                            $.ajax({
                                url : "/judicial/pendentes/processos",
                                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                                type : "post",
                                data : data,
                                success: function(data, textStatus, jqXHR) {
                                    $('.modal-backdrop').remove();
                                     loadAjaxData(data.array, data.array[0].orju_dsc_unidade, options.series.name);
                                },
                            });
                        }
                    }
                }                
            }
        },

        credits: {
          enabled: false
      },

      tooltip: {
        headerFormat: '<span style="font-size:10px"><b>{point.key}</b></span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}:&nbsp; </td>' +
            '<td style="padding:0"><b>{point.y:.0f} processos</b></td></tr>',
        useHTML: true
    },

    series: <%= @competencias.to_json.html_safe %>,
    drilldown: {
        series: <%= @varas.to_json.html_safe %>
    }
});

$( document ).ajaxStart(function() {
  $('<div class="modal-backdrop fade in"></div>').appendTo(document.body);
});

function loadAjaxData(data_ajax,key,name){
                                $("#corpo").empty();
                            var html = '<table class="table datatable table-striped table-bordered" width="100%" id="table_processos">';
                            html += '<thead>';
                            html += '<tr>';
                            html += '<th>Nº do Processo</th>';
                            html += '<th>Vara</th>';
                            html += '<th>Sit. do Processo</th>';
                            html += '<th>Data do Protocolo</th>';
                            html += '</tr>';
                            html += '</thead>';
                            html += '<tbody>';
                            data_ajax.forEach(function(value){
                                html += '<tr>';
                                html += '<td>'+ value.proc_dsc_processo_formatado+'</td>';
                                html += '<td>'+ value.orju_dsc_unidade +'</td>';
                                html += '<td>'+ value.sipr_dsc_situacao_processo +'</td>';
                                x = new Date(value.proc_dat_protocolo);
                                html += '<td>'+ x.getDate() + "/" + (x.getMonth()+1) + "/" + x.getFullYear() +'</td>';
                                html += '</tr>';
                                //'<td>'+ "<span style='display: none'>"+ x.getFullYear() + x.getMonth()+ x.getDay()   +"</span>"+ x.getDay() + "/" + x.getMonth() + "/" + x.getFullYear() +'</td>'
                            });
                            html += '</tbody>';
                            html += '</table>';
                            $(document).ready(function() {
                              $("#table_processos").dataTable({
                                dom: "<'row'<'col-sm-12'B>>" + "<'row'<'col-sm-6'l><'col-sm-6'f>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                                autoWidth : false,
                                order: [[ 3, "asc" ]],
                                select: true,
                                buttons: [
                                    {
                                        extend: 'copyHtml5', 
                                        title: "PROCESSOS PENDENTES DA " + key + " NO ANO DE " + name
                                    },
                                    {
                                        extend: 'csv', 
                                        title: "PROCESSOS PENDENTES DA " + key + " NO ANO DE " + name,
                                        filename: "PENDENTES - " + key + " - " + name
                                    },
                                    {
                                        extend: 'pdfHtml5', 
                                        title: "PROCESSOS PENDENTES DA " + key + " NO ANO DE " + name,
                                        filename: "PENDENTES - " + key + " - " + name
                                    },
                                    {
                                        extend: 'print',
                                        text: 'Imprimir',
                                        className: "printChartButton",
                                        title: "PROCESSOS PENDENTES DA " + key + " NO ANO DE " + name,
                                        exportOptions: {
                                            modifier: {
                                                page: 'all'
                                            }
                                        }
                                    }
                                ],
                                    columnDefs : [{"width": "22%", "targets": 0 },
                                                    {"width": "38%", "targets": 1 },
                                                    {"width": "20%", "targets": 2 },
                                                    {"type": "order-data", "width": "20%", "targets": 3 },
                                    ],
                                    language: {
                                        "sEmptyTable": "Nenhum registro encontrado",
                                        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                                        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                                        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                                        "sInfoPostFix": "",
                                        "sInfoThousands": ".",
                                        "sLengthMenu": "_MENU_ resultados por página",
                                        "sLoadingRecords": "Carregando...",
                                        "sProcessing": "Processando...",
                                        "sZeroRecords": "Nenhum registro encontrado",
                                        "sSearch": "Pesquisar",
                                        "oPaginate": {
                                            "sNext": "Próximo",
                                            "sPrevious": "Anterior",
                                            "sFirst": "Primeiro",
                                            "sLast": "Último"
                                        },
                                        "oAria": {
                                            "sSortAscending": ": Ordenar colunas de forma ascendente",
                                            "sSortDescending": ": Ordenar colunas de forma descendente"
                                        },
                                        "buttons" :{
                                            "copy" : "Copiar"
                                        }
                                    }
                              });
                            });
                            $("#corpo").append(html);
                            $('#modal_titulo_processos_pendentes').empty();
                            $('#modal_titulo_processos_pendentes').append('PROCESSOS PENDENTES DA ' + key + ' NO ANO DE ' + name);
                            $("#myModal").modal("show");
};

</script>