<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" >
            <div class="text-center m-t-lg">
                <h1 style ="color: #257752; font-size: 30px; margin: -5px">
                    <b>SiN - CUSTÓDIA</b>
                </h1>    
                <br></br>  
            </div> 
            <div class="form" style="margin-left: 140px;margin-top:20px;margin-bottom: -10px">        
            <%= form_for :custodiafila, :url => { :action => "custodiafila" }, :method => "POST" do |f| %>  
                <%= f.label(:q, "Digite o número do processo:") %>
                <%= f.text_field :body, :size=>"40" %>
                <%= f.submit("Pesquisar") %>
            <% end %>
            </div>
            <br />
            <div class="custodia_table">
            <table class="table datatable table-bordered dataTable no-footer", style="background-color: white">
                    <tr>
                        <th>Cód. Fila</th>
                        <th>Desc. Fila</th>
                        <th>Nº de Processos</th>
                        <th>Estouro</th>
                    </tr>
                     <% @lista_filas.each do |row| %>
                    <tr>
                        <td><%= row["cdfila"] %></td>
                        <td><%= link_to row["defila"], {:controller => "custodia", :action => "custodiaprocessos", :cdfila => row["cdfila"] }%>
</td>
                        <td><%= row["processos"] %></td>
                        <td><%= row["estouro"] %></td>
                    </tr>
                    <% end %>
            </table>
            </div>  
            </>      
        </div>
    </div>
</div>