<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <%= link_to "/home/index" do %>
                            <img alt="image" class="img-circle" src="<%= image_url 'big.png' %>"/>
                        <% end %>
                    </span>
                </div>

                <div class="logo-element">
                    BIG
                </div>
            </li>

            <li class="<%= is_active_controller('diretoria') %>">
                <a href=""><i class="fa fa-address-card" style="font-size:18px"></i> <span class="nav-label">Diretoria</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%= 'active' if current_page?('/') %>">
                        <li class="<%= is_active_action('taxa') %>"><%= link_to  diretoria_taxa_path do %>
                            <p>Taxa de Congestionamento</p>
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('percentualBaixados') %>"><%= link_to    diretoria_percentualBaixados_path do %>
                            <p>Percentual de Baixados</p>
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('percentualJulgados') %>"><%= link_to  diretoria_percentualJulgados_path  do %>
                            <p>Percentual de Julgados</p>
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('percentualJulgadosEmbargos') %>"><%= link_to  diretoria_percentualJulgadosEmbargos_path  do %>
                            <p>Percentual de Julgados com Embargos</p>
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('percentualJulgadosApelacao') %>"><%= link_to  diretoria_percentualJulgadosApelacao_path  do %>
                           <p>Percentual de Julgados com Apelação</p>
                        <% end %>
                        </li>                           
                        <li class="<%= is_active_action('processosDigitalizados') %>"><%= link_to  diretoria_processosDigitalizados_path  do %>
                            <p>Percentual de Processos Digitalizados</p>
                        <% end %>
                        </li>
                    </ul>
            </li>            
            
            <li class="<%= is_active_controller('judicial') %>">
                <a href=""><i class="fa fa-balance-scale" style="font-size:18px"></i> <span class="nav-label">Área Judicial</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%= 'active' if current_page?('/') %>">
                        <li class="<%= is_active_action('julgados') %>"><%= link_to  judicial_julgados_path  do %>
                            Processos Julgados
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('pendentes') %>"><%= link_to judicial_pendentes_path do %>
                            Processos Pendentes
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('baixados') %>"><%= link_to  judicial_baixados_path  do %>
                            Processos Baixados
                        <% end %>
                        </li>
                    </ul>
            </li>            
            <!--
            <li class="<%=# is_active_controller('administrar') %>">
                <a href=""><i class="fa fa-book" style="font-size:18px"></i> <span class="nav-label">Área Administrativa</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%=# 'active' if current_page?('/') %>">
                        <li class="<%=# is_active_action('pessoas') %>" style="margin: 0px"><%=# link_to "/administrar/pessoas" do %>
                            <p>Gestão de Pessoas</p>
                        <%# end %>
                        </li>
                        <li class="<%=# is_active_action('patrimonio') %>" style="margin: 0px"><%=# link_to "/administrar/patrimonio" do %>
                            <p>Gestão de Patrimônio</p>
                        <%# end %>
                        </li>
                    </ul>
            </li>-->

            <li class="<%= is_active_controller('coman') %>">
                <a href=""><i class="fa fa-gavel" style="font-size:18px"></i> <span class="nav-label">Ceman</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%= 'active' if current_page?('/') %>">
                        <li class="<%= is_active_action('coman_fortaleza') %>" style="margin: 0px"><%= link_to "/coman/coman_fortaleza" do %>
                            <p>Ceman Fortaleza</p>
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('coman_maracanau') %>" style="margin: 0px"><%= link_to "/coman/coman_maracanau" do %>
                           <p>Ceman Maracanau</p>
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('coman_juizado_da_mulher') %>" style="margin: 0px"><%= link_to "/coman/coman_juizado_da_mulher" do %>
                            <p>Ceman Juizado da Mulher</p>
                        <% end %>
                        </li>
                    </ul>
            </li>

            <li class="<%= is_active_controller('custodia') %>">
                 <a href=""><i class="fa fa-taxi" style="font-size:18px"></i><span class="nav-label">SiN-Custódia</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%= 'active' if current_page?('/') %>">
                        <li class="<%= is_active_action('custodiafila') %>" style="margin: 0px"><%= link_to "/custodia/custodiafila" do %>
                            <p>Filas da Custódia</p>
                        <% end %>
                        </li>
                    </ul>    
            </li>
            <li class="<%= is_active_controller('crime_organizado') %>">
                <a href=""><i class="fa fa-link" style="font-size:18px"></i><span class="nav-label">SiN-Crime Organizado</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%= 'active' if current_page?('/') %>">
                        <li class="<%= is_active_action('painel_crime') %>" style="margin: 0px"><%= link_to "/crime_organizado/painel_crime" do %>
                            <p>Painéis</p>
                        <% end %>
                        </li>
                    </ul>
            </li>

            <li class="<%= is_active_controller('seguranca') %>">
                <a href=""><i class="fa fa-lock" style="font-size:20px"></i><span class="nav-label">Segurança</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse <%= 'active' if current_page?('/') %>">
                        <li class="<%= is_active_action('salavitima') %>" style="margin: 0px"><%= link_to "/seguranca/salavitima" do %>
                            <p>Sala de Acolhimento da Vítima</p>
                        <% end %>
                        </li>
                        <li class="<%= is_active_action('controleacesso') %>" style="margin: 0px"><%= link_to "/seguranca/controleacesso" do %>
                            <p>Controle de Acesso</p>
                        <% end %>
                        </li>
                    </ul>
            </li>                                         
        </ul>
    </div>
</nav>